<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>app.webJEE</display-name>
    <servlet>
    	<description>
    	</description>
    	<display-name>Servlet</display-name>
    	<servlet-name>Servlet</servlet-name>
    	<servlet-class>com.appmaven.Servlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ServletRegistroUsuario</display-name>
    	<servlet-name>ServletRegistroUsuario</servlet-name>
    	<servlet-class>com.appmaven.ServletRegistroUsuario</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>servletRegistroContrato</display-name>
    	<servlet-name>servletRegistroContrato</servlet-name>
    	<servlet-class>com.appmaven.servletRegistroContrato</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>servletRegistroLlamada</display-name>
    	<servlet-name>servletRegistroLlamada</servlet-name>
    	<servlet-class>com.appmaven.servletRegistroLlamada</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>searchEmpleado</display-name>
    	<servlet-name>searchEmpleado</servlet-name>
    	<servlet-class>com.appmaven.searchEmpleado</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>servletRegisterEmplead</display-name>
    	<servlet-name>servletRegisterEmplead</servlet-name>
    	<servlet-class>com.appmaven.servletRegisterEmplead</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>Servlet</servlet-name>
    	<url-pattern>/Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ServletRegistroUsuario</servlet-name>
    	<url-pattern>/ServletRegistroUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>servletRegistroContrato</servlet-name>
    	<url-pattern>/servletRegistroContrato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>servletRegistroLlamada</servlet-name>
    	<url-pattern>/servletRegistroLlamada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>searchEmpleado</servlet-name>
    	<url-pattern>/searchEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>servletRegisterEmplead</servlet-name>
    	<url-pattern>/servletRegisterEmplead</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
